.add-image-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-profile-img {
    width: 10rem;
    margin-bottom: 10px;
}
.center-button {
    display: flex;
    justify-content: center;
}
.password-button {
    display: flex;
    justify-content: right;
}
.form-switch .form-check-input:checked {
    background-color: #4e54c8!important;
    border-color: #4e54c8 !important;
}