.ev-body-div {
    width: 100%;
    height: 100%;
}
.ev-badges {
    display: flex;
    justify-content: flex-start;
}
.ev-desc {
    margin-top: 10px;
}

@media screen and (max-width: 780px) {
    .ev-info {
        text-align: center;
    }
    .ev-badges {
        justify-content: center;
        flex-wrap: wrap;
    }
    .ev-desc {
        text-align: center;
    }
  }