.feed-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.feed-card {
    border: none;
}

@media screen and (max-width: 780px) {
    .feed{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}