.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
    background-color: none;
}
.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}
.accordion-button {
    background-color: none;
}
.accordion-body {
   padding-top: 10px;
   padding: 0px;
}