.post-form-container {
  width: 800px !important;
  margin-bottom: 2rem;
  padding: 0 !important;
}
.post-form-card {
  background: var(--bs-primary-light) !important;
}
.post-form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-pic {
  height: 60px;
  width: 60px;
  object-fit: cover;
  background-size: cover;
}
.post-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .post-form-container {
    width: auto !important;
  }
}
