.post-form-container {
    width: 800px !important;
    margin-bottom: 20px;
}

.post-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    height: 60px;
    width: 60px;
}
.post-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .post-form-container {
      width: auto !important;
    }
  }