.profile-header {
    padding: 0;
    position: relative;
}
.cover-img {
    height: 20rem;
    object-fit: cover;
}
.profile-img {
    width: 15rem;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: -10rem;
    margin-left: auto; 
    margin-right: 70%; 
    border: solid;
    border-width: 5px;
    border-color: white;
}
.header-desc {
    margin-left: 25rem;
}
.text-name {
    font-weight: bold;
    margin: 0;
}
.header-badges {
    display: flex;
    justify-content: left;
    align-items: center;
}
.badge-div {
    display: flex;
    align-items: center;
    width: inherit;
    height: 30px;
    background-color: 	#428bca;
}
.role-text {
    margin-left: 25rem;
    color: white;
    font-weight: 700;
    font-size: large;
}

@media only screen and (max-width: 1400px) {
    .header-desc {
        margin-left: 22rem;
    }
}

@media only screen and (max-width: 1200px) {
    .profile-img {
        width: 12rem;
        bottom: -8rem;
        margin-left: auto; 
        margin-right: 70%; 
    }
    .header-desc {
        margin-left: 18rem;
    }
}
@media only screen and (max-width: 1000px) {
    .profile-img {
        width: 12rem;
        bottom: -8rem;
        margin-left: auto; 
        margin-right: 70%; 
    }
    .header-desc {
        margin-left: 18rem;
    }
}

  @media only screen and (max-width: 768px) {
    .profile-img {
        width: 14rem;
        bottom: -5rem;
        margin-left: auto; 
        margin-right: auto; 
    }
    .header-desc {
        margin-left: 0;
        margin-top: 5rem;
        text-align: center;
    }
    .header-badges {
        justify-content: center;
        align-items: center;
    }
}
  
