.login-form {
  width: 95%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .login-form {
    width: 26rem;
    margin: 0 auto;
  }
}

.was-validated .prevent-validation-color.form-control:valid,
.prevent-validation-color.form-control.is-valid {
  border-color: #ced4da;
  background-image: none;
}
