.post-header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
}
.post-header-name {
    margin: 0px;
    padding: 0px;
}
.post-header-faculty {
    padding: 0px;
    margin: 0px;
    font-size: small;
}
.post-header-time {
    margin-left: auto;
    padding: 0px;
    font-size: x-small;
}
.post-header-verify {
    font-size: 20px;
    color: #4CAF50;
    margin-left: 10px;
}
.post-header-pinned {
    font-size: 20px;
    color: #5bc0de;
    margin-left: 10px;
}
.post-profile-pic {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.popover {
   min-height: 28rem;
}