.post-header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
}
.post-header-name {
    margin: 0px;
    padding: 0px;
}
.post-header-faculty {
    font-size: small;
}
.post-profile-pic {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}