.LocationTrendingCard {
  width: auto;
  margin: 0 0.5rem;
}

.LocationTrendingCardImage {
  margin-bottom: 1rem;
  aspect-ratio: 1500 / 822;
  object-fit: cover;
}

.LocationTrendingCardGrades {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.LocationTrendingCardGrade {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  padding: 0.5rem;
  border-width: 1px;
  margin: 0.3rem 0;
}

.LocationTrendingCardGrade p {
  margin: 0;
}

.no-location-grades {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.3rem 0;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

@media only screen and (min-width: 768px) {
  .LocationTrendingCardBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .LocationTrendingCardImage {
    max-width: 30%;
    min-width: 30%;
    width: 30%;
    height: 30%;
    margin-bottom: inherit;
  }
  .LocationTrendingCardText {
    margin-left: 1rem;
    flex-grow: 1;
  }
  .LocationTrendingCardGrades {
    display: flex;
    flex-direction: row;
  }
  .LocationTrendingCardGrade {
    min-width: 32.5%;
    max-width: 32.5%;
    margin: 0 auto;
  }
}
