.comment-header {
    display: flex;
    justify-content: left;
    align-items: center;
}
.comment-row-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-profile-pic {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.comment-name {
    margin-left: 12px;
    margin-bottom: 0px;
}
.comment-faculty {
    font-size: small;
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 0px;
}
.comment-center-icons {
    display: flex;
    justify-content: left;
    align-items: center;
}
.comment-like-icon-sm {
    font-size: 15px;
    color: grey;
    margin-right: 5px;
}
.comment-like-icon {
    font-size: 20px;
    color: #1976D2;
    cursor: pointer;
    margin-right: 5px;
}
.comment-verified-icon {
    font-size: 15px;
    color: #4CAF50;
    margin-left: 8px;
}
.comment-pinned-icon {
    font-size: 15px;
    color: #5bc0de;
    margin-left: 8px;
}
.text-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.comment-date {
    font-size: x-small;
}

@media screen and (max-width: 780px) {
    .comment-body {
        margin-top: 5px;
    }
    .comment-like-icon-sm {
        margin-left: 15px;
    }
    .comment-like-icon {
        margin-left: 15px;
    }
}