.event-header {
    display: flex;
    justify-content: left;
    align-items: center;
}
.event-profile-pic {
    width: 60px !important;
    height: 60px !important;
}
.author-name {
    font-size: larger;
    margin: 0;
    padding: 0;
}
.author-fac{
    margin: 0;
    padding: 0;
}
.date-time-txt {
    font-size: small;
    margin: 0;
    padding: 0;
}
.ev-settings{
    font-size: 20px;
    color: #4e54c8;
    cursor: pointer;
}