.main-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.img-ev-div {
    width: 40rem !important;
    height: 40rem !important;
}
.card-ev {
    width: inherit !important;
    height: 100%;
}
.ev-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
  
@media screen and (max-width: 780px) {
    .main-div{
      flex-wrap: wrap;
    }
}
  