.profile-hover-cont {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden !important;
}
.bg-picture {
  height: inherit;
  width: inherit;
  border-bottom: solid;
  border-width: 5px;
  border-color: #4e54c8;
}
.profile-picture {
  width: 8rem !important;
  height: 8rem !important;
  border: solid;
  border-width: 5px;
  border-color: #4e54c8;
  object-fit: cover;
  background-size: cover;
}
.parent-pic-div {
  width: inherit;
  height: inherit;
  position: relative;
}
.child-pic-div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  margin-left: auto;
  margin-right: 37%;
  width: 100px;
}
