.profile-hover-cont {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bg-picture {
    height: inherit;
    width: inherit;
}
.profile-picture {
    width: 8rem;
}
.parent-pic-div {
    width: inherit;
    height: inherit;
    position: relative;
}
.child-pic-div {
    position: absolute; 
    left: 0; 
    right: 0;
    bottom: -50px;
    margin-left: auto; 
    margin-right: 37%; 
    width: 100px;
}