.location-card {
  position: relative;
  z-index: 1000;
  width: 28rem;
  left: calc(100vw - 34rem);
  opacity: 0;
  transform: translateY(-68vh);
  transition: opacity 0.25s ease, transform 0.25s ease;
  visibility: collapse;
}

.location-card.visible {
  opacity: 1;
  transform: translateY(-70vh);
  visibility: visible;
}

.location-card-image {
  aspect-ratio: 1500 / 822;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .location-card {
    width: auto;
    right: 0;
    left: 0;
    top: 5rem;
    transform: translateY(-80vh);
  }
  .location-card.visible {
    transform: translateY(-83vh);
  }
}
