.student-thead {
    background-color: #4e54c8 !important;
    color: white;
}
.student-row {
    cursor: pointer;
}
.student-icon-counter {
    font-size: 35px;
}
.student-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #4e54c8;
    font-weight: 600;
    font-size: larger;
    text-align: center;
    margin-left: 50px;
}