.grade-form {
  width: auto;
  margin: 0 0.5rem;
}
.grade-form-card {
  background: var(--bs-primary-light) !important;
}
.grade-form-body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.grade-form-comment {
  flex-grow: 1;
  margin: 2rem 0;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .grade-form {
    max-width: 100%;
  }
  .grade-form-body {
    flex-direction: row;
    align-items: stretch;
    justify-content: unset;
  }
  .gfc-text {
    margin: auto 1rem;
  }
  .gfc-input {
    margin: 0 1rem;
  }
}
