.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}
.align-row {
    display: flex;
}
.center-items {
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
}
.like-comment-icon {
    font-size: 25px;
    color: #4e54c8;
    margin-left: 10px;
    margin-right: 5px;
}
.like-comment-icon-sm {
    font-size: 15px;
    color: grey;
    margin-left: 10px;
    margin-right: 5px;
}

.liked-text {
    color:#8c8fbf;
}