.eventpost { 
    width: auto;
    margin: 10px;
}

.reserve-btn {
    position: absolute;
}
.eventImage {
    object-position: left;
    width: auto !important;
    height: 15rem;
    margin-right: 10px;
}

.event-text{
    font-size: medium;
}
.location{
    font-weight: bold;
}
.event-title{
    font-size: xx-large !important;
}
.event-type {
    font-size: small !important;
}

@media screen and (max-width: 780px) {
    .eventpost { 
        width: auto;
        margin: 0px; 
    }
    .eventimage {
        height: 12rem;
        width: auto;
    }
}