.eventpost {
  width: 60%;
  margin: auto;
}

.event-card {
  display: flex;
  flex-direction: row;
}

.eventImage {
  max-width: 40%;
  height: fit-content;
  margin-right: 10px;
}

.event-text {
  max-width: fit-content;
}

.location {
  font-weight: bold;
}

.event-title {
}

.event-type {
}

@media only screen and (min-width: 768px) {
  .event-card {
    display: flex;
    flex-direction: row;
  }
  .eventimage {
    min-width: 30%;
    max-width: 30%;
    height: 30%;
    width: 30%;
    margin-bottom: inherit;
  }
  .event-text
  {
    margin-left: 1rem;
  }
}