.testy {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test2 {
  color: white;
  text-shadow: 3px 3px 3px #000;
}

.location-tab {
  min-height: 79vh;
}
