.avatar {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  background-size: cover;
}

.navbar-profile {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropdown-toggle:after {
  display: none !important;
}
